header {
  background-color: var(--color-primary);
  position: sticky;
  top: 0;
  z-index: 1000;
}

main {
  padding: 20px;
  max-width: 1200px;
  min-height: calc(100vh - 80px);
  background-color: var(--color-bg-dark);
  color: var(--color-text-white);
}
