@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  background-color: #212121; 
  color: #e0e0e0; 
}

:root {
  --mdc-filled-button-container-color: #0288d1;
  --mat-toolbar-container-background-color: #0288d1;
  --mdc-text-button-label-text-color: #ffffff; 
  --mat-toolbar-container-text-color: #ffffff;
  --mdc-filled-button-hover-state-layer-color: #26a69a;
}